.records
  padding: 15px


.record
  background: #F9F9F9
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25)
  border-radius: 15px
  padding: 10px
  margin-bottom: 15px

  .content
    display: flex

    img
      border-radius: 15px
      display: block
      margin-right: 5px

    .details
      width: 100%
      padding: 2px 7px

      .heading
        width: 100%
        display: flex

        h5
          display: inline
          font-weight: 500

          &:last-of-type
            margin-left: auto
            font-weight: 400

      li
        list-style: none

        ul
          margin: 0
          padding: 0
          font-size: 15px
          line-height: 27px

          svg
            height: 17px
            width: 17px

  .resources
    display: flex
    flex-wrap: wrap
    margin-top: 15px


