.resource
  border-width: 1px
  border-style: solid
  padding: 0.12rem 0.7rem
  margin-right: 5px
  margin-top: 5px
  font-size: 1rem
  border-radius: 3px
  display: inline-block
  white-space: nowrap
